body {
	background-image: url("../images/cloud_2.gif");
	background-color: #ccc; 
	margin: 0 auto;
	position: relative;
}

#grass {
	background-color: green; 
	height: 200px; 
	width: 100%; 
	position: fixed;
}

h1 {
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 4s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    from {color: #e74c3c;}
    to {color: yellow;}
}

h1 {
	font-family: 'Sniglet', sans-serif;
	font-weight: 800;
	font-size: 3em;
	text-align: center; 
	display: block;
	margin: 0 auto;
}

#animals {
	height: 500px; 
}

button {
	width: 150px;
	height: 100px;
	background-color: pink;
	border: 5px solid purple;
	border-radius: 10%;
	color: purple;
	display: block;
	position: fixed;
  	top: 0;
	left: 0;
}

#cow1 {
	position: fixed;
  	top: 325px;
	left: 500px;
}

#dancing {
  	position: fixed;
  	top: 270px;
	left: 950px;
}

#farm {
	position: fixed;
  	top: 50%;
	left: 50%;
}

#horse {
	position: fixed;
  	top: 455px;
	left: 10px;
}

#lamb {
	position: fixed;
  	top: 485px;
	right: 0;
}

#sun {
	top: 0;
	left: 0;

	position: relative;
}

#roost {
	position: fixed;
  	top: 425px;
	left: 50%;
}


/* add animations to ea img, position fixed*/
