html, body {
    padding: 0;
    margin: 0;
}

#wrap {
	width: 950px;
	margin: auto;
}

#header {
	padding: 0;
    margin: 0 40px;
    background-color: #ddd;
    clear: both;
}

#header h1 {
    font-size: 40px;
    font-weight: 300;
    float: left;
    padding-right: 0;
}

#header p {
	color: grey;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 25px;
	float: left;
	margin: 40px 10px;
}

h1 {
    color: #DD0000;
    font-family: 'Roboto', sans-serif; 
    font-weight: 100;
    font-size: 25px;
    line-height: 1.5
    padding: .3em;
}

h2 {
    color: #444444;
    font-family: 'Roboto', sans-serif; 
    font-weight: 100;
}

#date {
	color: #919191;
}

#nav {
	float: left;
	margin: -50px auto 40px auto;
}
#nav ul li {
	text-decoration: none;
	list-style-type: none;
	display: inline;
	font-style: none; 
	float: left;
}

#nav li {
	color: white;
	background-color: black;
	font-size: 20px;
	padding: 20px 31px;
}

#nav li:hover {
	background-color: #C5E99B;
	color: #444444;
}

#main {
	width: 540px;
	float: left;
	margin-left: 40px;
}

#main p {
	margin-bottom: 40px; 
}

.firstletter {
	color: lightgrey;
	float: left; 
	font-size: 75px; 
	line-height: 60px; 
	padding-top: 4px; 
	padding-right: 8px; 
	padding-left: 3px; 
	font-family: Georgia;
}

#main a {
   color: #DD0000;
   float: right; 
   text-decoration: none;
   padding: 2em;
}

#main a: hover {
    color: #aa0000;
}

#main img {
	width: 540px;
	height: 220px;
}

.more {
	margin-bottom: 20px;
}

#sidebar {
	width: 300px;
	float: right;
	margin-right: 40px;
}

#sidebar a {
	color: red;
	text-decoration: none;
}

span a {
	float: right;
	margin: 30px 0px; 
}

hr {
    color: #dddddd;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

#footer {
	clear: both;
	margin: 60px 40px;
}

#footer ul {
    margin: 0;
    padding: 0;
}

#footer ul li {
    list-style-type: none;
    display: inline;

}

#footer li:before {
	content: "  |  ";
}

#footer li:after {
	margin-right: 5px; 
}

#footer li:first-child:before {
	content: none; 
}

#footer li {
    text-decoration: none;
    float: left;
    padding-right: 8px;
    padding-left: 8px;
    color: #DD0000;
}

.copyright {
    color: #dddddd;
    text-align: center; 
}

