body {
	background-color: #DEE5E5;
}

#wrap {
	background-color: white;
	width: 960px; 
	margin: 0 auto; 
}
/* 960 px total across*/

html, body {
    padding: 0;
    margin: 0;
}

#header {
    background-color: #415A77;
    width: 960px;
    height: 200px;
    clear: both;
}

#nav a {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	margin: 10px 40px;
	text-decoration: none; 
	border: 1px solid white;
	padding: 10px;
}

#nav a:hover {
	color: #16DB65;
}

h1 {
    color: white;
    font-family: 'Raleway', sans-serif; 
    font-weight: 400;
    font-size: 40px;
}

h2 {
    color: #16DB65;
    font-family: 'Roboto', sans-serif; 
    font-weight: 100;
    font-size: 20px; 
}

h3 {
	font-family: 'Lato', sans-serif;
	font-weight: 100px; 
	color: #082D0F;
	text-indent: 20px; 
}

h3:hover {
	color: grey;
}

#date {
	color: #919191;
	font-size: 20px;
}

#main {
	width: 540px;
	float: left;
	margin-left: 40px;
}

#main h3 {
	color: #5E807F;
}

#main a {
   color: #16DB65;
   float: right; 
   text-decoration: none;
   padding: 2em;
}

#main a: hover {
    color: #415A77;
}

#main p {
	color: #919191;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 14px;
	line-height: 1.5em;  
}

.more {
	margin-bottom: 20px;
}
/**sidebar area*****************************************/
#sidebar {
	width: 300px;
	float: right;
	margin-right: 40px;
	border-left: 2px solid #CAD1D1;
	padding: 10px; 
}

#sidebar a {
	color: #16DB65;
	text-decoration: none;
}

#sidebar a:hover {
	color: #082D0F;
}

#sidebar p {
	color: #919191;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 14px; 
	line-height: 1.5em; 
}

img {
	width: 150px; 
	border-radius: 100%;
	display: block;
	text-align: center;
	margin: 0 auto;  
}

/*****************footer**************************/

footer {
	clear: both;
	margin: 0 auto; 
	background-color: #415A77;
	padding: 20px 40px;
    height: 200px; 
}

footer a {
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 200; 
	text-decoration: none; 
}

footer a:hover {
	color: #16DB65;
}

footer ul li {
    list-style-type: none;
    display: inline;
}


footer li {
	text-align: center; 
    text-decoration: none;
    float: left;
    padding-right: 8px;
    padding-left: 8px;
    color: #9DC5BB;
}

footer p {
	margin: 140px auto 0 auto; 
	padding: 20px;
	text-align: center; 
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	color: #9DC5BB;
}

.copyright {
    color: #9DC5BB;
    margin: 0 auto;
    float: right; 
}

